<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %>

  <div class="white-bg">
    <% for (var i = 0; i < 글목록.length; i++) { %>
      <div class="white-box">
        <div class="list-box">
          <h4>
            <a href="/detail/<%= 글목록[i]._id %>"><%= 글목록[i].title %></a>
            <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
            <span class="delete" data-id="<%= 글목록[i]._id %>">🗑</span>
          </h4>
          <p><%= 글목록[i].content %></p>
        </div>
      </div>
    <% } %>
  </div>
  
  <div class="pagination">
    <% for (let i = 1; i <= 전체페이지; i++) { %>
      <% if (i === 현재페이지) { %>
        <strong>[<%= i %>]</strong>
      <% } else { %>
        <a href="/list/<%= i %>">[<%= i %>]</a>
      <% } %>
    <% } %>
  </div>
  

<script>
  document.querySelectorAll('.delete').forEach(function (btn) {
    btn.addEventListener('click', function (e) {
      e.preventDefault();
      const id = btn.dataset.id;

      fetch('/delete?docid=' + encodeURIComponent(id), {
        method: 'DELETE'
      })
      .then(응답 => {
        if (응답.ok) {
          alert('삭제 성공');
          location.reload();
        } else {
          alert('삭제 실패');
        }
      })
      .catch(오류 => {
        console.error(오류);
        alert('서버 오류');
      });
    });
  });
</script>




</body>
</html>