<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %>

  <div class="white-bg">
    <% for (var i = 0; i < 글목록.length; i++) { %>
      <div class="white-box">
        <div class="list-box">
          <h4>
            <a href="/detail/<%= 글목록[i]._id %>">
              <%= 글목록[i].title %>
            </a>
            <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
            <span class="delete">🗑</span>
          </h4>
          <p><%= 글목록[i].content %></p>
        </div>
      </div>
  <% } %>
</div>

<script>
  document.querySelectorAll('.delete')[0]
    .addEventListener('click', function () {
      fetch('/abc', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ a: 1 })
      });
    });
</script>
</body>
</html>